{% extends 'SecretariaBundle::layout.html.twig' %}

{% block page %}
    <div class="col-sm-9 col-lg-7 page">
        <ul class="nav nav-tabs page-tabs">
            {% block pTabs %}
            {% endblock %}
        </ul>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-lg-3 col-lg-offset-0 right-slidebar">
        {% block rightSlidebar %}
        {% endblock %}
    </div>
{% endblock %}