
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Centro de Inglés | LogIn</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/secretaria/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/secretaria/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Centro de Inglés</h2>

        {% if error %}
            <div class="alert alert-warning">{{ error.message }}</div>
        {% endif %}


        <input type="text" class="form-control" name="_username" placeholder="Nombre de Usuario" required autofocus>
        <input type="password" class="form-control" name="_password" placeholder="Contraseña" required>
        <label class="checkbox">
            <input type="checkbox" name="_remember_me" checked> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" name="login" type="submit">Ingresar</button>
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>